In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier

In [5]:
df = pd.read_csv(r'.\traindata\books.csv')

In [6]:
df

     price  page         Y
0    23000   432  computer
1    17000   416  computer
2    23000   304  computer
3    22000   560  computer
4    32000   480  computer
..     ...   ...       ...
171  12000   160      poem
172  10000   288      poem
173  18000   394      poem
174  15000   208      poem
175  20000   560      poem

[176 rows x 3 columns]

In [ ]:
ml = KNeighborsClassifier()